body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 120%;
    background-color: rgba(110, 13, 189, 0.507);
}

table {
    /* border-collapse: collapse; */
    border: 0.5px solid black;
    padding: 0;
    margin: auto;
    margin-top: 100px;
    background-color: black;
}

td {
    width: 90px;
    height: 90px;
}

.light-cell {
    background-color: white;
}

.dark-cell {
    background-color: rgb(94, 89, 89);
}

.selected {
    background-color: rgba(211, 191, 78, 0.836);
}

.possible-move {
    background-color: rgba(210, 250, 145, 0.836);
}

img {
    width: 75px;
    height: 75px;
}